<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I am Manish Anand</h1>
		<p>Welcome to my Blog application.</p>
		<p>Here we can write your own blogs!</p>
		<p>if you wanna learn Ruby on Rails,
			find me on <%= link_to "Twitter", "https://twitter.com/iammanisHananD", target: :_blank %>, or write post on my page <%= link_to "Facebook", "https://www.facebook.com/manish4uanand", target: :_blank %>, or check my stories on <%= link_to "Instagram", "https://www.instagram.com/itzmanishanand/", target: :_blank %>, or if wanna write something <%= link_to "Email", "mailto:manish4uanand@gmail.com" %>.
		</p>
	</div>
</div>